.subscribe{
    position: relative;
    padding: 0 0 20px 0;
}
.subscribe:before{
    content: "";
    position: absolute;
    background-color: #252B42;
    height: 77px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.subscribe__head{
    padding: 142px 0 70px 0 ;
}
.head-body{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.head-body__colum{
    flex: 0 1 16.6%;
}
.head-body__icon{
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe__content{
    margin: 0 auto;
    background-color: #17213C;
    max-width: 986px;
    border-radius: 2px;
}
.content-subscribe__row{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}
.content-subscribe__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.content-subscribe__form{
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
.content-subscribe__input{
    flex: 1 1 auto;
    min-height: 58px;
    box-sizing: border-box;
    color: #737373;
}
.content-subscribe__button{
    display: inline-block;
    padding: 15px 22.5px;
    color: #FFFFFF;
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0 5px 5px 0;
    line-height: 28px;
    letter-spacing: 0.2px;
    transition: background-color 0.6s ease;
}
.content-subscribe__button:hover{
    background-color: #c17b60;
}

/*Tablet*/
@media (max-width: 991.98px) {
    .head-body{
        justify-content: center;
        row-gap: 30px;
        flex-wrap: wrap;
    }
    .head-body__colum{
        flex: 0 1 30%;
    }
    .head-body__icon{
        min-height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .subscribe__head{
        padding: 100px 0 50px 0;
    }
}
@media (max-width: 700px) {
    .content-subscribe__row{
        flex-direction: column;
        row-gap: 20px;
    }
    .subscribe__content:after{
        display: none;
    }
    .content-subscribe__row{
        padding: 25px 20px;
    }
    .subscribe__content{
        margin: 0 -15px;
    }
}
@media (max-width: 400px) {
    .content-subscribe__row {
        padding: 25px 15px;
    }

}

